.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-block {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "VT323", sans-serif;
  font-size: 20px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "VT323", sans-serif;
  font-size: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 12px;
}

button:hover {
  background-color: #45a049;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 0px 4px 25px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
