<div class="game-container">
  <div class="upper-container">
    <div class="drawing-board">
      <div class="head">
        <div class="head-left">Drawing Board</div>
        <div class="head-right" *ngIf="wordToDraw != '' && wordInHeadShown">
          You are drawing the word: <strong>{{ wordToDraw }}</strong>
        </div>
      </div>
        <canvas #drawingCanvas id="drawingCanvas" width="800" height="600"></canvas>
    </div>
    <div class="guess-section">
      <div class="guess-window">
        <div class="head">Guess Window</div>
        <div *ngFor="let message of messages">
          {{message}}
        </div>
      </div>
      <div class="controls">
        <div *ngIf="!isDrawer" class="guess-input">
          <input type="text" [(ngModel)]="messageContent" placeholder="Type a guess">
          <button (click)="sendGuess()">Send</button>
        </div>
        <div *ngIf="isDrawer" class="color-picker">
          <button *ngFor="let color of colors" [style.backgroundColor]="color" (click)="selectColor(color)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-word-overlay *ngIf="wordOverlayShown" [word]="wordToDraw"></app-word-overlay>
<app-next-round-overlay *ngIf="nextRoundScreenShown"
                        [word]="correctlyGuessedWord"
                        [user]="userThatGuessed"
                        [nextDrawer]="nextDrawer"></app-next-round-overlay>
