<div class="game-container">
  <div class="upper-container">
    <div class="drawing-board">
      <div class="head">
        <div class="head-left">Drawing Board</div>
        <div class="head-right" *ngIf="wordToDraw != '' && wordInHeadShown">
          You are drawing the word: <span class="word-to-draw">{{ wordToDraw }}</span>
        </div>
      </div>
        <div id="progress-bar-container">
          <div id="progress-bar"></div>
        </div>
      <div class="waiting-for-start-box" *ngIf="isWaitingForGameStart">
        Waiting for all users to be ready...
        <div class="loader"></div>
      </div>
        <canvas #drawingCanvas id="drawingCanvas" width="800" height="600">
        </canvas>
    </div>
    <div class="guess-section">
      <div class="score-window">
        <div class="head">Scores</div>
        <div class="guess-chat" *ngFor="let player of scores | keyvalue">
          {{player.key}}: {{player.value}}
        </div>
      </div>
      <div #scrollMe class="guess-window">
        <div class="head">Guesses</div>
        <div class="guess-chat" *ngFor="let message of messages">
          {{message}}
        </div>
      </div>
      <div class="controls">
        <div *ngIf="!isDrawer" class="guess-input">
          <input type="text" [(ngModel)]="messageContent" placeholder="Type a guess" (keydown.enter)="sendGuess()"
          [attr.maxlength]="maxGuessLength">
          <button (click)="sendGuess()">Send</button>
        </div>
        <div *ngIf="isDrawer" class="color-picker">
          <button *ngFor="let color of colors" [style.backgroundColor]="color" (click)="selectColor(color)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-word-overlay *ngIf="wordOverlayShown" [word]="wordToDraw"></app-word-overlay>
<app-next-round-overlay *ngIf="nextRoundScreenShown"
                        [word]="correctlyGuessedWord"
                        [user]="userThatGuessed"
                        [nextDrawer]="nextDrawer"></app-next-round-overlay>
