html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.no-scroll {
  height: 100vh;
  overflow: hidden !important;
}

body {
  background: linear-gradient(
      rgba(190, 178, 162, 0.9),
      rgba(190, 178, 162, 0.9)
  ),
  url('/assets/bg_new.webp') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}
