body {
  height: 100vh;
  margin: 0;
  padding: 1px 0 0;
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(192, 212, 255, 0.85);
}

:root {
  background-image: url('/assets/doodl_bg.webp');
}
