<div class="lobby-container">
  <div class="upper-container">
    <div class="chat-section">
      <div class="chat-window" #scrollMe>
        <div class="head">Chat</div>
        <div *ngFor="let message of messages">
          <div *ngIf="message.type === 'JOIN'" class="event-message">
            {{message.sender}} joined!
          </div>
          <div *ngIf="message.type === 'LEAVE'" class="event-message">
            {{message.sender}} left!
          </div>
          <div *ngIf="message.type === 'CHAT'" class="chat-message">
            <span class="sender">{{message.sender}}:</span> {{message.content}}
          </div>
        </div>
      </div>
      <div class="chat-input">
        <input type="text" [(ngModel)]="messageContent" placeholder="Type a message" (keydown.enter)="sendMessage()" [attr.maxlength]="maxMessageLength">
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>
    <div class="player-list">
      <div class="head">Players</div>
      <div *ngFor="let player of playerList; index as i;">
        <span>{{ player }}</span>
      </div>
    </div>
  </div>
  <div class="lower-container">
    <span class="code" (click)="copyToClipboard()">Code: {{ this.lobbyId }}</span>
    <button *ngIf="isOwner" (click)="startGame()">Start Game</button>
    <button disabled *ngIf="!isOwner">Waiting for owner to start the game...</button>
  </div>
  <span *ngIf="!copiedCodeToClipboard" class="hint">Tip: Click on the code to copy & share it with your co-players!</span>
  <span *ngIf="copiedCodeToClipboard" class="hint">Copied lobby code to clipboard. Share it now!</span>
</div>
<div class="game-info-box">
  <h3>How To Play</h3>
  <p>
    The game is round-based. Each round, one player is the drawer and the others are the guessers.
    <br>You get <u>one point</u> for guessing correctly.
    <br>The drawer looses one point when no one guesses correctly.
  </p>
</div>

