.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.overlay-block {
  font-weight: 500;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
  width: 50vw;
  border-radius: 16px;
  border: 1px solid #E0E0E0;
  box-shadow: 2px 3px 17px 20px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: #FFFFFF;

  h2 {
    font-weight: 500;
  }
}

.overlay-block:hover {
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 2px 3px 20px 9px rgb(255 255 255 / 10%), 0 2px 4px rgb(255 255 255 / 6%);
}

button {
  background: linear-gradient(40deg, #f8a5b6, #b1cfde);
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

button:hover {
  background: linear-gradient(40deg, #FF69B4, #87CEEB);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  color: white;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 0 4px 25px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
